{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <div>
        <h1>Voyage {{ travel.title }}</h1>
    </div>
    <div>
        <p>Description : {{ travel.description }}</p>
        <p>Date : {{ travel.date | date("d/m/Y") }}</p>
        <p>Durée : {{ travel.duration }} {{ travel.durationType }}</p>
        <p>Pays : {{ travel.country | country_name}}</p>
        <p>Public : {% if travel.public == 1 %}
            Oui
        {% else %}
            Non
        {% endif %}
        </p>
    </div>
    <hr>
    <div>
        <h2>Etapes du voyage</h2>
    </div>
    <div>
        {% for stage in stages %}
            <p>
                {{ stage.title }} - {{ stage.date | date("d/m/Y") }}
                <br/> {{ stage.content | raw }}
                <br/><a href="{{ path('app_stage_edit', {id: stage.id, travelId: travel.id}) }}"><button>Modifier</button></a>
                <br/><a href="{{ path('app_stage_delete', {id: stage.id, travelId: travel.id}) }}"><button>Supprimer</button></a>
                <br/><a href="{{ path('app_stage_move', {id: stage.id, travelId: travel.id, direction: 'down'}) }}"><button>Monter</button></a>
                <a href="{{ path('app_stage_move', {id: stage.id, travelId: travel.id, direction: 'up'}) }}"><button>Descendre</button></a>
            </p>
        {% endfor %}
    </div>
    <div>
        <hr>
        <a href="{{ path('app_stage_new', {id: travel.id}) }}"><button>Nouvelle étape</button></a>
    </div>
{% endblock %}
